.error-btn {
  background-color: #f2c7c7;
  color: red;
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  align-self: self-end;
  margin-right: 100px;
}

.error-btn:active {
  background-color: #d93232;
}
