.pagination-control-item {
  min-width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #4da6ff;
  border-radius: 50%;

  background-color: white;
  color: #4da6ff;

  font-size: 16px;
  font-weight: 600;

  overflow: hidden;
  padding: 4px;

  white-space: nowrap;
  cursor: pointer;

  transition: all 0.2s ease;
}

.pagination-control-item.dark {
  background-color: #000;
  color: #fff;
}

.pagination-control-item:hover {
  background-color: #eaf4ff;
}

.pagination-control-item:hover.dark {
  background-color: #d9d7d7;
}

.pagination-control-item:active {
  background-color: #c7e4fc;
}

.pagination-control-item:active.dark {
  background-color: #d9d7d7;
}

.selected {
  border: 2px solid red;
}
