.wrapper {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-title {
  font-size: 30px;
  font-weight: 600;
}

.book-description {
  margin-top: 50px;
  text-align: center;
}

.added-info {
  color: blue;
}
