* {
    box-sizing: border-box;
}

html {
    background-color: #CFEEFC;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: 400;
} 

.app-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
